<div id='primary' class='content-area'> == $0
  <main id='main' class='site-main' role='main'>
  <div class='centercol'>
    <header class='entry-header'>
       <h1>Data Sharing</h1>
    </header>
    <div class='entry-content'>
      <p>To help expand the knowledge base for pediatric medicine, the PTN is pleased to share trial documents and data from its completed and published studies with interested investigators.  Our gaol is to be as transparent as possible with our research for the benefit of children.</p>
      <ul>
         <li>Data sharing policy</li>
         <li>Data sharing request form</li>
         <li>More information on data sharing from the Data Across Sectors for Health (DASH) collaboration</li>
      </ul>
    </div>

    <h3>Currently available studies:</h3>
    <section class="studyInfo">

      <table id='studyInfoTable' class='table dataTable data-table table-striped table-condensed table-hover'>

       <tbody>
        <% @studies.each do |study| %>
          <tr>
            <!-- <td>
              <a target='_blank' href='<%= study.id %>'>
                <% if study.image? %>
                  <%= image_tag study.image_url(:thumb) %>
                <% end %>
              </a>
            </td>  -->
            <td>
              <a href='/studies/<%= study.id %>' class='study'>
                <h4><%= study.title %></h4>
                <p><%= study.brief_summary %></p>
               <% if !study.submitter_name.blank? %>
                  <p><i>Provided by <%= study.submitter_name %></i></p>
                  <p><%= study.contact_info %></i></p>
                <% end %>
              </a>
              <% if !study.url.blank? %>
                <p><a href="<%= study.linkable_url %>" target="_blank" ><%= study.url %></a></p>
              <% end %>
            </td>
          </tr>
        <% end %>
       </tbody>
     </table>
    </section>
  </div>
  </main>
</div>
