<%=  stylesheet_link_tag "studies/studies" %>
<div class="wrap">
  <p id="notice"><%= notice %></p>
  <div class="basicHero">
      <h1 class='site-title'>Data Sharing</h1>
      <p class='dataSharing'>
      <p>To help expand the knowledge base for pediatric medicine, the PTN is pleased to share trial documents and data from its completed and published studies with interested investigators.  Our gaol is to be as transparent as possible with our research for the benefit of children.
      </p>
       <ul class='dataSharing'>
         <li class='dataSharing'>Data sharing policy</li>
         <li class='dataSharing'>Data sharing request form</li>
         <li class='dataSharing'>More information on data sharing from the Data Across Sectors for Health (DASH) collaboration</li>
       </ul>
      <p class='useCaseInvitation'>We encourage everyone to share their work and discoveries with the community so that everyone can benefit.</p>
  </div>

  <div class="studyInfo">
    <h2>Currently available studies</h2>
    <section class="studyInfo">

      <table id='studyInfoTable' class='table dataTable data-table table-striped table-condensed table-hover'>

       <tbody class='studies'>
        <% @studies.each do |study| %>
          <tr class='studies'>
            <!-- <td>
              <a target='_blank' href='<%= study.id %>'>
                <% if study.image? %>
                  <%= image_tag study.image_url(:thumb) %>
                <% end %>
              </a>
            </td>  -->
            <td class='study'>
              <a href='/studies/<%= study.id %>' class='study'>
                <h4><%= study.title %></h4>
                <p><%= study.brief_summary %></p>
               <% if !study.submitter_name.blank? %>
                  <p><i>Provided by <%= study.submitter_name %></i></p>
                  <p><%= study.contact_info %></i></p>
                <% end %>
              </a>
              <% if !study.url.blank? %>
                <p><a href="<%= study.linkable_url %>" target="_blank" ><%= study.url %></a></p>
              <% end %>
            </td>
          </tr>
        <% end %>
       </tbody>
     </table>
    </section>
  </div>
</div>
